 		.Mine_text {
   		font-family: 'Amatic SC', cursive;
   			flex: 1 1 auto;
   			width: 100%;
   			max-width: 1000px;
   			margin: 100px auto;
   			color: white;
   			text-align: center;
   			font-size: 100px;
   			text-shadow: 3px 4px 4px black , 0 0 1em black;
   			position: absolute; top: 420px;
            position: absolute; left: 180px;
   		        }

		.Logotip {
   		    font-family: 'Amatic SC', cursive;
   			flex: 1 1 auto;
   			width: 100%;
   			max-width: 1000px;
   			color: white;
   			text-align: center;
   			font-size: 150px;
   			text-shadow: 3px 4px 4px black , 0 0 1em black;
   			position: absolute; bottom: 450px;
            position: absolute; left: 180px;
   				}

    .PromRobo {
            position: absolute; top: 650px;
            position: absolute; left: 100px;
              }

    .Aero {
    		position: absolute; top: 650px;
    		position: absolute; left: 610px;
  		  }

    .Nano {
    		position: absolute; top: 650px;
    		position: absolute; right: 100px;
    	  }

    .Bio {
    		position: absolute; top: 900px;
    		position: absolute; left: 100px;
    	 }		

   	.PromDesing {
   			position: absolute; top: 900px;
   			position: absolute; left: 610px;
   				}

   	.Kosmo {
   			position: absolute; top: 900px;
   			position: absolute; right: 100px
   		   }

    .HiTech {
    		position: absolute; top: 1150px;
    		position: absolute; left: 100px;
    		}

    .IT {
    	position: absolute; top: 1150px;
    	position: absolute; left: 610px;
    	} 

    .Energy	{
			position: absolute; top: 1150px;
			position: absolute; right: 100px;    		
    		    }

    .VR  {
      position: absolute; top: 1350px;
      position: absolute; right: 325px;       
         }

    .Photonika  {
      position: absolute; top: 1350px;
      position: absolute; left: 325px;       
         }

    .text6143 {
      position: absolute; top: 1670px;
      font-family: 'Amatic SC', cursive;
      font-size: 150px;
      position: absolute;left: 150px;
              }

    .textDeti {
      position: absolute; top: 1830px;
      font-family: 'Amatic SC', cursive;
      font-size: 50px;
      position: absolute;left: 30px;
              }

    .textFotonika {
      position: absolute; top: 1880px;
      font-family: 'Amatic SC', cursive;
      font-size: 50px;
      position: absolute; left: 60px; 
                  }

      .text11 {
      position: absolute; top: 1670px;
      font-family: 'Amatic SC', cursive;
      font-size: 150px;
      position: absolute; left: 700px; 
                  }

      .textNapr {
      position: absolute; top: 1830px;
      font-family: 'Amatic SC', cursive;
      font-size: 50px;
      position: absolute; left: 580px; 
                  }

    .text14350 {
      position: absolute; top: 1670px;
      font-family: 'Amatic SC', cursive;
      font-size: 150px;
      position: absolute; left: 1060px; 
              }

    .textYCH {
      position: absolute; top: 1830px;
      font-family: 'Amatic SC', cursive;
      font-size: 45px;
      position: absolute; left: 1010px; 
              }

    .textFotonika2 {
      position: absolute; top: 1880px;
      font-family: 'Amatic SC', cursive;
      font-size: 45px;
      position: absolute; left: 1010px; 
              }

    .textPromrobo {
      position: absolute; top: 800px;
      font-family: 'Amatic SC', cursive;
      font-size: 40px;
      position: absolute; left: 75px;
                  }  

    .textAero {
      position: absolute; top: 800px;
      font-family: 'Amatic SC', cursive;
      font-size: 40px;
      position: absolute; left: 615px;
              }

      .textNano {
      position: absolute; top: 800px;
      font-family: 'Amatic SC', cursive;
      font-size: 40px;
      position: absolute; left: 1105px;
              }

      .textHiTech {
      position: absolute; top: 1300px;
      font-family: 'Amatic SC', cursive;
      font-size: 40px;
      position: absolute; left: 90px;
              }

      .textBio {
      position: absolute; top: 1040px;
      font-family: 'Amatic SC', cursive;
      font-size: 40px;
      position: absolute; left: 105px;
              }

      .textPromDesing {
      position: absolute; top: 1040px;
      font-family: 'Amatic SC', cursive;
      font-size: 40px;
      position: absolute; left:550px;
              }

      .textKosmo {
      position: absolute; top: 1040px;
      font-family: 'Amatic SC', cursive;
      font-size: 40px;
      position: absolute; left: 1090px;
              }

      .textIT {
      position: absolute; top: 1300px;
      font-family: 'Amatic SC', cursive;
      font-size: 40px;
      position: absolute; left: 620px;
              }

      .textEnergy {
      position: absolute; top: 1300px;
      font-family: 'Amatic SC', cursive;
      font-size: 40px;
      position: absolute; left: 1080px;
              }

      .textFotonika3 {
      position: absolute; top: 1500px;
      font-family: 'Amatic SC', cursive;
      font-size: 40px;
      position: absolute; left: 300px;
              }

      .textVr {
      position: absolute; top: 1500px;
      font-family: 'Amatic SC', cursive;
      font-size: 40px;
      position: absolute; left: 920px;
              }

      .Telefon {
      	position: absolute; top:2900px;
      	font-family: 'Amatic SC', cursive;
     	font-size: 50px;
     	position: absolute; left: 60px;
      }

      .Tel342 {
      	position: absolute; top: 2980px;
      	font-family: 'Amatic SC', cursive;
     	font-size: 30px;
     	position: absolute; left: 60px;
      }

      .Pochta {
      	position: absolute; top: 2900px;
      	font-family: 'Amatic SC', cursive;
     	font-size: 50px;
     	position: absolute; left: 335px;
      }

      .PochtaKvant {
      	position: absolute; top: 2980px;
      	font-family: 'Amatic SC', cursive;
     	font-size: 30px;
     	position: absolute; left: 300px;
      }

      .Map {
      	position: absolute; top: 2900px;
      	font-family: 'Amatic SC', cursive;
     	font-size: 50px;
     	position: absolute; left: 630px;
      }

      .Perm {
      	position: absolute; top: 2980px;
      	font-family: 'Amatic SC', cursive;
     	font-size: 30px;
     	position: absolute; left: 610px;
      }

      .N64 {
      	position: absolute; top: 3020px;
      	font-family: 'Amatic SC', cursive;
     	font-size: 30px;
     	position: absolute; left: 680px;
      }

      .Open {
      	position: absolute; top: 2900px;
      	font-family: 'Amatic SC', cursive;
     	font-size: 50px;
     	position: absolute; left: 860px;
      }

      .Time {
      	position: absolute; top: 2980px;
      	font-family: 'Amatic SC', cursive;
     	font-size: 30px;
     	position: absolute; left: 850px;
      }

       .Soc {
      	position: absolute; top: 2900px;
      	font-family: 'Amatic SC', cursive;
     	font-size: 50px;
     	position: absolute; left: 1100px;
      }

      	.VK {
      	position: absolute; top: 2980px;
      	font-family: 'Amatic SC', cursive;
     	font-size: 30px;
     	position: absolute; left: 1100px;
      	}

      	.Insta {
      	position: absolute; top: 2980px;
      	font-family: 'Amatic SC', cursive;
     	font-size: 30px;
     	position: absolute; left: 1140px;
      	}

      	.Youtube {
      	position: absolute; top: 2980px;
      	font-family: 'Amatic SC', cursive;
     	font-size: 30px;
     	position: absolute; left: 1240px;
      	}

      	.KV {
      	position: absolute; top: 3190px;
      	font-family: 'Amatic SC', cursive;
     	font-size: 30px;
 		text-align: center;
 		position: absolute; left: 550px;
      	}

      	.IYS {
      		position: absolute; top: 2070px;
      		font-family: 'Amatic SC', cursive;
     		font-size: 60px;
 			text-align: center;
 			position: absolute; left: 750px;
      	}

      	.BigText {
      		position: absolute; top: 2230px;
      		font-family: 'Amatic SC', cursive;
     		font-size: 30px;
 			text-align: center;
 			position: absolute; left: 750px;
      	}

      	.Eto {
      		position: absolute; top: 2420px;
      		font-family: 'Amatic SC', cursive;
     		font-size: 40px;
 			text-align: center;
 			position: absolute; left: 850px;
      	}