 		.Mine_text {
   		font-family: 'Amatic SC', cursive;
   			flex: 1 1 auto;
   			width: 100%;
   			max-width: 1000px;
   			margin: 100px auto;
   			color: white;
   			text-align: center;
   			font-size: 100px;
   			text-shadow: 3px 4px 4px black , 0 0 1em black;
   			position: absolute; top: 420px;
            position: absolute; left: 180px;
   		        }

		.Logotip {
   		    font-family: 'Amatic SC', cursive;
   			flex: 1 1 auto;
   			width: 100%;
   			max-width: 1000px;
   			color: white;
   			text-align: center;
   			font-size: 150px;
   			text-shadow: 3px 4px 4px black , 0 0 1em black;
   			position: absolute; bottom: 460px;
            position: absolute; left: 180px;
   				}

      .PromRobo {
            position: absolute; top: 500px;
                }

      .PromRobo2 {
            position: absolute; top: 700px;
            position: absolute; left: 240px;
      }